@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@tailwind base;
@tailwind utilities;
@tailwind components;


:root {
    --background: #f4faff;
    --foreground: #143164; 
    --foreground2: #0d1222;

    --color1: #ebf2f9;
    --color2: #4472a0;
    --color3: #a2c9d7;
    --color_red: #e47245;
    --color_green: #5daf14;
    --color_green_hover: #84c949;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif, 'Montserrat', 'Libre Baskerville', Garamond;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

h1 {
    font-family: Georgia;
    @apply text-4xl font-bold text-[var(--foreground)];
}

h2 {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif; 
    @apply italic text-xl text-[var(--foreground2)];
}

h3 {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif;
    @apply text-xl text-[var(--foreground2)];
}

label {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif; 
}

ul {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif;
}

button {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif;
    @apply self-end;
}

textarea {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif;
}

input {
    font-family: Verdana, Helvetica, 'Montserrat', sans-serif;
}